<!DOCTYPE html>
<html lang="en">
<head>
{% load widget_tweaks %}

{% block extra_header %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/global.css"/>
{% endblock %}

{% block content %}
    <div class="form-group">
        ...
        <div class="form-group">
            {{ uform.date.label_tag }}
            {% render_field form.date class="vDateField" %}
            {{ uform.date.errors }}
        </div>

    </div>
{% endblock %}

{% block footer_js %}
<script>
    var django = django || {};
    django.jQuery = $;
</script>
<script type="text/javascript" src="/admin/jsi18n/"></script>
{{ formset.media }}
{% endblock %}


</head>
<body>
<form method="post" action="">
    {% csrf_token %}
    Username: <input type="text" name="user_name" value="" placeholder="Enter Username" size="50" /><br>
    Password: <input type="password" name="password" value="" placeholder="Enter Password" size="50" /><br>
    First Name: <input type="text" name="first_name" value="" placeholder="First Name" size="50" /><br>
    Last Name: <input type="text" name="last_name" value="" placeholder="Last Name" size="50" /><br>
    Email Address: <input type="text" name="email" value="" placeholder="username@eprod.com" size="50" /><br>
    Hire Date: <input type='date' name="hire_date"/><br>
    <input type="submit" value="Create new user account" />
</form>
</body>
</html>