<!DOCTYPE html>
<html lang="en">
<head>
>
{% load static %}

<link rel ="stylesheet" type="text/css" href="{% static 'shift_schedule/style.css' %}"/>
</head>
<body>
{% include "shift_schedule/sidenav.html" %}
<div class="wrapper">
     <div class="row">
<div class="col span2">


<form enctype="multipart/form-data" method="post" action="">
    {% csrf_token %}
{% for field in form.visible_fields %}
    <div>
        {{ field.errors }}
        <span class="filter-label">{{ field.label_tag }}</span><br>
        {{ field }}
    </div>
 {% endfor %}

 {% for field in form.hidden_fields %}
     <div style="display:none;">{{ field }}</div>
 {% endfor %}
    {{uform.as_p}}
    <input type="submit" value="Create new user account" />
</form>
</div>
     </div>
</div>
</body>
</html>