<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}

    <meta charset="UTF-8">
    <title>Approved PTO</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" src="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>


<link rel ="stylesheet" type="text/css" href="{% static 'shift_schedule/style.css' %}"/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>






</head>
<body>
{% include "shift_schedule/sidenav.html" %}

<div class="wrapper">
    <div class="row">
        <div class="col span 5">
<table class="table table-bordered" id="approved" cellspacing="0">
    <caption>Approved PTO</caption>
    <thead>
    <tr>
        <tr>
        <th>Console</th>
        <th>Controller</th>
        <th>Assigned Coverage</th>
        <th>PTO Date</th>
        <th>PTO Type</th>
        <th>Notes</th>
        <th>Edit</th>

    </tr>
    </thead>
    <tbody>
    <tr style="text-align: left">
        {% for event in approved_pto_events %}
        <td style="text-align: left">{{event.console}}</td>
        <td style="text-align: left">{{event.user}}</td>
        <td style="text-align: left">{{event.coverage}}</td>
        <td style="text-align: left">{{event.date_pto_taken|date:"M-d-Y"}}</td>
        <td style="text-align: left">{{event.type}}</td>
        <td style="text-align: left">{{event.notes|truncatechars:75}}</td>
        <td><a stlye ="text-align:left" href="/schedule_coverage/{{event.id}}" >Edit</a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>
        </div>
    </div>
</div>



    <script>
    $(document).ready(function() {
    $('#approved').DataTable( {
            } );
} );
    </script>
</body>
</html>