<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<table>
      <caption>{{month}}</caption>

  <col class="weekday" span="5">
  <col class="weekend" span="2">
  <thead>
    <tr>

      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
    </tr>
  </thead>
  <tbody>
{% for row in user_calendar %}
 <tr>

{% for day in row %}
        <!- Regular Day Shift ->
     {% if day.0.date_object.which_shift == "D" and day.0.is_on_pto == False %}
        <td class="daybox tooltip"><div class="day">{{day.1}}</div>
        <span class="tooltiptext">{{day.0.console}}
        {% if day.0.is_overtime == True %}
            Covering for :{{day.0.original_controller }}
            {% endif %}
        </span>
        <div class="notes dayshift">{{day.0.date_object.which_shift}}</div></td>
     {% endif %}
        <!- Regular Night shift ->
     {% if day.0.date_object.which_shift == "N" and day.0.is_on_pto == False  %}
     <td class="nightbox tooltip"><div class="day">{{day.1}}</div><span class="tooltiptext">{{day.0.console}}
        {% if day.0.is_overtime == True %}
            Covering for :{{day.0.original_controller }}
            {% endif %}
        </span>
        <div class="notes nightshift">{{day.0.date_object.which_shift}}</div></td>
     {% endif %}

     <!- Regular Day off _>
     {% if day.0 == "" and day.3 == None %}
          <td><div class="day">{{day.1}}</div>
        <div class="notes nightshift">{{day.0}}</div></td>
     {% endif %}

     <!- Day that controller takes PTO ->
     {% if day.0.is_on_pto == True and day.0.original_controller == user_profile %}
               <td><div class="day">{{day.1}}</div>
        <div class="notes pto">{{day.0.pto.get_type_display}}</div></td>

     {% endif %}
    <!- covering overtime ->
     {% if day.0.original_controller != day.0.controller and day.0.controller == user_profile %}
                    <td class="day tooltip"><div class="day"> {{day.1}}</div>
                        <span class="tooltiptext">{{day.0.console}}</span>
        <div class="notes pto">{{day.0.date_object.which_shift}}</div></td>
     {% endif %}




    {% endfor %}
 </tr>
{% endfor %}


  </tbody>
</table>


</body>
</html>