<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<table>
      <caption>{{month}}</caption>

  <col class="weekday" span="5">
  <col class="weekend" span="2">
  <thead>
    <tr>

      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
    </tr>
  </thead>
  <tbody>
{% for row in user_calendar %}
 <tr>
{% for day in row %}
     {% if day.0 == "D" and day.3 == None %}
<td class="daybox tooltip"><div class="day">{{day.1}}</div>
        <span class="tooltiptext">{{day.2}}</span>
        <div class="notes dayshift">{{day.0}}</div></td>
     {% endif %}
     {% if day.0 == "N" and day.3 == None  %}
     <td class="nightbox tooltip"><div class="day">{{day.1}}</div>
         <span class="tooltiptext">{{day.2}}</span>
        <div class="notes nightshift">{{day.0}}</div></td>
     {% endif %}
     {% if day.0 == "" and day.3 == None %}
          <td><div class="day">{{day.1}}</div>
        <div class="notes nightshift">{{day.0}}</div></td>
     {% endif %}
     {% if day.3 != None %}
               <td><div class="day">{{day.1}}</div>
        <div class="notes pto">{{day.3}}</div></td>
     {% endif %}
    {% endfor %}
 </tr>
{% endfor %}
  </tbody>
</table>

</body>
</html>