<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


</head>
<body>
<div id="main_cal">
<table class="calendar">
      <caption>
          <ul>
              <li><a href="01" id="01" >Jan</a> </li>
              <li><a href="02"id="02" >Feb</a> </li>
              <li><a href="03" id="03">Mar</a> </li>
              <li><a href="04" id="04">Apr</a> </li>
              <li><a href="05"id="05" >May</a> </li>
              <li><a href="06" id="06" >Jun</a> </li>
              <li><a href="07"id="07" >Jul</a> </li>
              <li><a href="08" id="08" >Aug</a> </li>
              <li><a href="09" id="09" >Sep</a> </li>
              <li><a href="10" id="10" >Oct</a> </li>
              <li><a href="11" id="11" >Nov</a> </li>
              <li><a href="12" id="12" >Dec</a> </li>

    <script>
        document.getElementById("{{request_range.num_month}}").style.backgroundColor = "#224acc"
        document.getElementById("{{request_range.num_month}}").style.fontSize = "medium"
    </script>

          </ul>
      </caption>

  <col class="weekday" span="7">
  <col class="weekend" span="0">
  <thead>
    <tr class="calendar" style="font-size: large">

      <th class="calendar">Mon</th>
      <th class="calendar">Tue</th>
      <th class="calendar">Wed</th>
      <th class="calendar">Thu</th>
      <th class="calendar">Fri</th>
      <th class="calendar">Sat</th>
      <th class="calendar">Sun</th>
    </tr>
  </thead>
  <tbody class="calendar">
{% for row in user_calendar %}
 <tr class="calendar">

{% for day in row %}
        <!- Regular Day Shift ->
     {% if day.0.date_object.which_shift == "D" and day.0.is_on_pto == False %}
        <td class="calendar daybox"><div class="day">{{day.1}}</div>
        <div><a >test</a></div>
        <div class="notes dayshift">{{day.0.date_object.which_shift}}</div></td>
     {% endif %}
        <!- Regular Night shift ->
     {% if day.0.date_object.which_shift == "N" and day.0.is_on_pto == False  %}
     <td class="calendar nightbox"><div class="day">{{day.1}}</div><span class="tooltiptext">{{day.0.console}}
        {% if day.0.is_overtime == True %}
            Covering for :{{day.0.original_controller }}
            {% endif %}
        </span>
        <div class="notes nightshift">{{day.0.date_object.which_shift}}</div></td>
     {% endif %}

     <!- Regular Day off _>
     {% if day.0 == "" and day.3 == None %}
          <td class="calendar"><div class="day">{{day.1}}</div>
        <div class="calendar notes nightshift">{{day.0}}</div></td>
     {% endif %}

     <!- Day that controller takes PTO ->
     {% if day.0.is_on_pto == True and day.0.original_controller == user_profile %}
               <td class="calendar"><div class="day">{{day.1}}</div>
        <div class="calendar notes pto">{{day.0.pto.get_type_display}}</div></td>

     {% endif %}
    <!- covering overtime ->
     {% if day.0.original_controller != day.0.controller and day.0.controller == user_profile %}
                    <td class="calendar day"><div class="day"> {{day.1}}</div>
                        <span class="tooltiptext">{{day.0.console}}</span>
        <div class="notes pto">{{day.0.date_object.which_shift}}</div></td>
     {% endif %}
    <!- DND ->
     {% if day.0.dnd == True %}
      <td class="calendar day"><div class="day"> {{day.1}}</div>

        <div class="calendar notes pto">DND</div></td>
        {% endif %}


    {% endfor %}
 </tr>
{% endfor %}


  </tbody>
</table>
</div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

        });
    </script>

</body>
</html>