<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Hello, {{ user.first_name }}</title>
    <script type="text/javascript" src="{% static 'shift_schedule/js.js' %}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script>
    function clearBox(elementID)
{
    document.getElementById(elementID).innerHTML = "";
}
</script>

    <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
<div>
        <form id="selectionform" method="post">
        {% csrf_token %}
            <select name="console">
                {% for console in console_list %}
                    <option value="{{console}}">{{console.console_name}}</option>
                {% endfor%}
            </select>

            <select name="month">
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option VALUE="12">December</option>

            </select>





            <input type="submit" value="Show Schedule"/></form><button onclick="clearBox('container')">Hide Schedule</button>

</div>

<div id="container">

</div>

<script>
$('#selectionform').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check

    fetch_schedule();
});

$("hide").click(function(){
    $("container").empty();
});


</script>

</body>
</html>
