<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
{% csrf_token %}
<link rel ="stylesheet" type="text/css" href="{% static 'shift_schedule/style.css' %}"/>
</head>
<body>
{% for console in desks %}
<table class="full_console_schedule">
  <thead>
    <tr  class="full_console_schedule th">
    <th class="full_console_schedule th">{{console}}</th>
{% for day in calendar %}
<th class="full_console_schedule th">{{day|date:"n"}}/{{day|date:"d"}}<BR> {{day|date:"D"}}</th>


        {% endfor %}
    </tr>

  </thead>
  <tbody>
  {% for controller in allshifts_console_schedule %}
  {% if controller.0.1 == console %}
  <tr class="full_console_schedule tr">
      <td class="full_console_schedule td">{{controller.0.0}}</td>

      {% for day in controller %}

      {% if day.2.controller != controller.0.0 %}
        <td class="full_console_schedule td">{{day.2.pto.type}}</td>

      {% endif %}


       {% if day.2.controller == controller.0.0 %}
      <td class="full_console_schedule td"> {{day.2.date_object.which_shift}}</td>
      {% endif %}
      {% endfor %}
  </tr>

  {% endif %}
  {% endfor %}

  </tbody>
</table>
{% endfor %}



{% for desk in desks %}
<table>
    <caption>Unnaproved PTO</caption>
    <thead>
    <tr>
        <tr>
        <th>Date</th>
        <th>Date Requested</th>
        <th>Controller</th>
        <th>Console</th>
        <th>Type</th>
        <th>id</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        {% for pto_request in desk%}


        <td>{{pto_request.date_pto_taken|date:"n"}}/{{pto_request.date_pto_taken|date:"d"}}<Br>{{pto_request.date_pto_taken|date:"D"}}
        <Br>
            {{pto_request.shift_type}}</td>
        <td>{{pto_request.date_requested|date:"n"}}/{{pto_request.date_requested|date:"d"}}</td>
        <td>{{pto_request.user.full_name}}</td>
        <td>{{pto_request.console}}</td>
        <td>{{pto_request.type}}</td>
        <td><a href="/shift_schedule/schedule_coverage/{{pto_request.id}}" >Schedule</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}

</body>
</html>