<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
    <meta charset="UTF-8">

    <title>PTO Form</title>
<script type="text/javascript" src="{% static 'shift_schedule/js.js' %}"></script>
<!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

</head>
<body>
<form id ="pto_form" action="/pto" method="post">
   {% csrf_token %}
{{form.as_p}}


<input type="submit" value="submit">
<p id="talk"></p>
<script>
    $(document).ready(function(){
      var date_input=$('input[name="date_pto_taken"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>

          <script>
// Submit post on submit
$('#pto_form').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check
    create_post();
});


</script>




</form>
</body>
</html>