<!DOCTYPE html>
<html lang="en">
{% load static %}
{% csrf_token %}
<link rel ="stylesheet" type="text/css" href="{% static 'shift_schedule/style.css' %}"/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Welcome, {{ user.first_name }} {{ user.last_name }}</title>

                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["calendar"]});
      google.charts.setOnLoadCallback(drawChart);


      var data = [];



      {% for key, values in pto_days.items %}
      var newdate = {year:{{key.year|escapejs}},
      thatday:{{key.day|escapejs}},
      month:{{key.month|escapejs}}-1,
      count:{{values}},

      };
      data.push(newdate);

       {% endfor %}

   function drawChart() {

       var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
       for (i = 0; i < data.length; i++) {
           dataTable.addRows([

               // Many rows omitted for brevity.
               //[new Date(l[i][0],l[i][1],l[i][2]), 1],
                [new Date(data[i].year,data[i].month, data[i].thatday), data[i].count],

           ]);
       }


       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

       var options = {
         title: "PTO Days",
         height: 350,
       };

       chart.draw(dataTable, options);
   }
    </script>
  </head>


</head>
<body>

{% include 'shift_schedule/sidenav.html' %}
</ul>
    <div class="wrapper">

<script>document.write.getFullYear(l[1]);</script>

  <body>
    <div id="calendar_basic" style="width: 1000px; height: 350px;"></div>

<div class="Table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Controller</th>
            <th>PTO type</th>
            <th>Best Fit Controller</th>

        </tr>
        </thead>
        <tbody>
        <tr >
            <td >Todd Hagler</td>
            <td >PTOS</td>
            <td >Jimmy Maris</td>
        </tr>
        <tr>
            <td>Luke Phelps</td>
            <td>PTO</td>
            <td>Todd Hagler</td>
        </tr>
        </tbody>
    </table>

</div>


    </div>
</body>
</html>