<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% if allshifts %}
    <ul>
    {% for shifts in allshifts %}
        <li><a>{{ shifts.supervisor }}</a></li>
        {% for operator in allcontrollers %}

        {% if operator.shift  == shifts %}

{{operator.empoyee_name }}

            <table>
                {% for oqs in  operator.list_oqs %}
                <tr>{{oqs.readable}}</tr>

        {% endfor %}
            </table>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>