<!DOCTYPE html>
<html lang="en">
<head>
>
{% load static %}

<link rel ="stylesheet" type="text/css" href="{% static 'shift_schedule/style.css' %}"/>
</head>
<body>
{% include "shift_schedule/sidenav.html" %}
<div class="wrapper">
     <div class="row">
<div style = align="left" class="col span3">


{% for desk in consoles %}
{{desk}} <Br>
{% endfor %}
<form action="/shift_schedule/test" method="post">

   {% csrf_token %}

{{form}}
    <input type="submit" value="submit">
</form>
</div>
     </div>
</div>
</body>
</html>