<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Schedule {{pto_data.date_pto_taken|date:'m-d-y'}} {{pto_data.user}}</title>
<head>


{% load static %}
    <title>Title</title>
<style>
    .highlight{
        color: black;
        background-color: red;

    }
</style>

</head>
<body>
{% include "shift_schedule/sidenav.html" %}
<div class="wrapper">
    <div class="row">
        <div class="col span 11">

{% include "shift_schedule/full_console_table.html" %}
</div>
    </div>

    <div class="row">
        <div class="col span2" style="text-align: left; width= 4em;">
            <h2>{{pto_data.date_pto_taken|date:'m-d-y'}} {{pto_data.shift_type|lower}} shift, for {{pto_data.user}}</h2>
            <form action="/schedule_coverage/{{pto_id}}" method="post">
            {% csrf_token %}
            {{form.as_p}}

            <input type="submit" value="submit">
             </form>
        </div>
        <div class="col span2">
        <table class="table table-bordered table-striped" id="myTable">

<caption>PTO Info</caption>
<thead>
        <tr>
            <th>Controller</th>
            <th>PTO Balance(hours)</th>
            <th>Overtime days Scheduled</th>

            </tr>
            </thead>
            <tbody>

            {% for controller in allshifts_console_schedule %}
        <tr>
            <td>{{controller.0.0}}</td>
            <td>{{controller.0.0.pto}}</td>
            <td>{{controller.0.0.oto}}</td>
        </tr>

        {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

<script>
$(document).ready(function () {


    $("#id_coverage").bind('change',function() {
        var controler = $('#id_coverage option:selected').text();
        var date = "{{pto_data.date_pto_taken|date:'d'}}";
        var test = controler.replace(/\s+/g, '') + date.replace(/\s+/g, '');

        $(".highlight").removeClass("highlight");
        $("#" + test).addClass("highlight");
    });
    $("#id_coverage").trigger('change');

});

    $(document).ready(function () {
        var requestor = '{{pto_data.user|cut:" "}}';
        var date = "{{pto_data.date_pto_taken|date:'d'}}";
        var test = requestor+date;
        $("#"+test).css("background-color","yellow");
})

</script>

</body>
</html>