<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
<head>


{% load static %}
    <title>Title</title>


</head>
<body>
{% include "shift_schedule/sidenav.html" %}
<div class="wrapper">
    <div class="row">
        <div class="col span 11">

{% include "shift_schedule/full_console_table.html" %}
</div>
    </div>

    <div class="row">
        <div class="col span2" style="text-align: left; width= 4em;">
            <h2>{{pto_data.date_pto_taken}} {{pto_data.shift_type|lower}} shift, for {{pto_data.user}} {{pto_data.type}}</h2>
            <form action="/schedule_coverage/{{pto_id}}" method="post">
            {% csrf_token %}
            {{form.as_p}}

            <input type="submit" value="submit">
             </form>
        </div>
        <div class="col span2">
        <table class="table table-bordered table-striped" id="myTable">

<caption>PTO Info</caption>
<thead>
        <tr>
            <th>Controller</th>
            <th>Year</th>

            </tr>
            </thead>
            <tbody>

            {% for controller in allshifts_console_schedule %}
        <tr>
            <td>{{controller.0.0}}</td>
            <td>{{controller.0.0.pto}}</td>
        </tr>

        {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
<script>

</script>
</body>
</html>