<!DOCTYPE html>
<html lang="en">
{% load static %}
{% csrf_token %}
<link rel ="stylesheet" type="text/css" href="{% static 'shift_schedule/style.css' %}"/>
<script type="text/javascript" src="{% static 'shift_schedule/js.js' %}"></script>
<!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<link rel ="stylesheet" type="text/css" href="{% static 'shift_schedule/style.css' %}"/>
<head>
    <meta charset="UTF-8">
    <title>Welcome, {{ user.first_name }} {{ user.last_name }}</title>




              <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["calendar"]});
      google.charts.setOnLoadCallback(drawChart);


      var data = [];



      {% for key, values in pto_days.items %}
      var newdate = {year:{{values.year|escapejs}},
      thatday:{{values.thatday|escapejs}},
      month:{{values.month|escapejs}},
      count:{{values.count}},

      };
      data.push(newdate);

       {% endfor %}

   function drawChart() {

       var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
       //dataTable.addColumn({ type: 'number', id:'comment'});
       for (i = 0; i < data.length; i++) {
           dataTable.addRows([

               // Many rows omitted for brevity.
               //[new Date(l[i][0],l[i][1],l[i][2]), 1],
                [new Date(data[i].year,data[i].month, data[i].thatday), data[i].count]

           ]);
       }


       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

       var options = {
         title: "PTO Days",
         height: 350,
       };

       chart.draw(dataTable, options);
   }



    </script>
</head>



  <body>

{% include "shift_schedule/sidenav.html" %}
<div class="wrapper">
<div class="row"><div class="col span9"></div> </div>


    <div class="row">
        <div class="col span8">
        <div id="calendar_basic" style="width: 1000px; height: 350px;"></div>
    </div>
    </div>
<div class="row">
    <div class="col span 5" style="text-align: left">
    {% include 'shift_schedule/console_schedule_menu.html' %}
    </div>
</div>

<div class="row">

{% include "shift_schedule/unnaproved_pto.html" %}
    <div class="col span5"></div>
</div>

    </div>


  </body>
</html>