<!DOCTYPE html>
<html lang="en">
{% load static %}
{% csrf_token %}
<link rel ="stylesheet" type="text/css" href="{% static 'shift_schedule/style.css' %}"/>
<head>
    <meta charset="UTF-8">
    <title>Welcome, {{ user.first_name }} {{ user.last_name }}</title>
</head>



  <body>

      <ul class="sidenav">
        <li><img src={{user_profile.profile_image.url}}></li>
  <li><a href="#news">{{user.first_name}} {{user.last_name}}</a></li>
  <li><a href="#news">PTO Availabe: {{user_profile.pto}}</a></li>
  <li><a href="#contact">{{user.email}}</a></li>

</ul>

<div class="wrapper">
<div class="row"><div class="col span9"></div> </div>

      {% for row in map %}
      <div class="row">
          {% if forloop.counter > 2%}
          <div class="col span5"></div>
          {% endif %}
        {% for console in row %}
        <div class="layoutcol span1">
            {{console.console.console_name}}
        {{console.console.address}}</div>
        {% endfor %}

	</div>
        {% endfor %}
<div>
    {% for desk, records in pto_records.items %}
<br>
    {{desk}}

    {% for record in records %}
    <br>
    {{  record.date}} - {{record.controller}}
    {% endfor %}
    {% endfor %}
</div>
    </div>

  </body>
</html>