<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel ="stylesheet" type="text/css" href="{% static 'shift_schedule/style.css' %}"/>
<body>

<table>
    <caption>Unnaproved PTO</caption>
    <thead>
    <tr>
        <tr>
        <th>Date</th>
        <th>Date Requested</th>
        <th>Controller</th>
        <th>Console</th>
        <th>Type</th>
        <th>id</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        {% for pto_request in all_unapproved_pto %}

        <td>{{pto_request.date_pto_taken|date:"n"}}/{{pto_request.date_pto_taken|date:"d"}}<Br>{{pto_request.date_pto_taken|date:"D"}}
        <Br>
            {{pto_request.shift_type}}</td>
        <td>{{pto_request.date_requested|date:"n"}}/{{pto_request.date_requested|date:"d"}}</td>
        <td>{{pto_request.user.full_name}}</td>
        <td>{{pto_request.console}}</td>
        <td>{{pto_request.type}}</td>
        <td><a href="/shift_schedule/schedule_coverage/{{pto_request.id}}" >Schedule</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{{pto_by_desk}}
<table>
    <caption>Unnaproved PTO By Desk</caption>
    <thead>
    <tr>
        <tr>
        <th>Console</th>
        <th>PTO Request Count</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        {% for desk, count in pto_by_desk.items %}
        <td>{{desk}}</td>
        <td><a href="/shift_schedule/schedule_coverage/{{pto_request.id}}" >{{count}}</a></td>
    </tr>
    {% endfor %}
    </tbody>



</body>
</html>