<!DOCTYPE html>
<html lang="en">
{% load static %}
{% csrf_token %}
<link rel ="stylesheet" type="text/css" href="{% static 'shift_schedule/style.css' %}"/>
<head>
    <meta charset="UTF-8">
    <title>Welcome, {{ user.first_name }} {{ user.last_name }}</title>
</head>
{% include "shift_schedule/sidenav.html" %}
<div class="wrapper">
     <div class="row">
<div class="col span2">
{% include "shift_schedule/calendar.html" %}
</div>

</div>
<div class="row">
<div class="col span2">
    {% include "shift_schedule/full_console_table.html" %}
</div>

</div>
</div>
</body>
</html>

</body>
</html>
