<!DOCTYPE html>
<html lang="en">
{% load static %}
{% csrf_token %}
<link rel ="stylesheet" type="text/css" href="{% static 'shift_schedule/style.css' %}"/>
<head>
    <meta charset="UTF-8">
    <title>Welcome, {{ user.first_name }} {{ user.last_name }}</title>
</head>
<body>

    <ul class="sidenav">
        <li><img src={{user_profile.profile_image.url}}></li>
  <li><a href="#news">{{user.first_name}} {{user.last_name}}</a></li>
  <li><a href="#news">PTO Availabe: {{user_profile.pto}}</a></li>
  <li><a href="#contact">{{user.email}}</a></li>
  <li><a href="#contact">Overtime Offered: {{oto}}</a></li>
  <li><a href="http://127.0.0.1:8000/shift_schedule/pto">Reqeust PTO</a></li>
        <li><a href="http://127.0.0.1:8000/shift_schedule/debug">Run Scheduleing Service</a></li>
    <li><a href="http://127.0.0.1:8000/admin">Admin</a></li>
        <li><a href="http://127.0.0.1:8000/shift_schedule/login">login</a></li>
    </ul>
<div class="wrapper">
     <div class="row">
<div class="col span2">
{% include "shift_schedule/calendar.html" %}
</div>

</div>
<div class="row">
<div class="col span2">
    {% include "shift_schedule/full_console_table.html" %}
</div>

</div>
</div>
</body>
</html>

</body>
</html>
